.testimonialCard__container {
  height: 23rem;
  background-color: var(--clr-neutral-50);
  max-width: 22.5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-block: 2.2rem;
  transition: scale ease-in-out 200ms;

  &:hover {
    scale: 1.03;
  }
}

.testimonialCard__text {
  font-weight: 600;
  font-size: 1rem;
  color: var(--clr-neutral-500);
}

.testimonialCard__name {
  font-weight: 800;
  font-size: 1.25rem;
  margin-top: auto;
}

.testimonialCard__category {
  font-weight: 600;
  font-size: 1rem;
  color: var(--clr-neutral-500);
}

@media (prefers-color-scheme: dark) {
  .testimonialCard__name {
    color: var(--clr-black);
  }
}
