:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --clr-black: #191919;
  --clr-neutral-50: #F4F4F4;
  --clr-neutral-100: #D4D4D4;
  --clr-neutral-300: #AAAAAA;
  --clr-neutral-500: #7F7F7F;
  --clr-neutral-600: #6A6A6A;
  --clr-neutral-800: #404040;
  --clr-white: #FFFFFF;
  --clr-beige: #E9E4D0;
  --clr-primary: #EE5C30;

  color: var(--clr-black);
  background-color: var(--clr-white);
}

*{
  margin:0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  padding-inline: 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
}

h2{
  font-size: 2.5rem;
  line-height: 1.1;
}

h3{
  font-size: 2.3rem;
  line-height: 1.1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--clr-white);
    background-color: var(--clr-black);
  }
}
